
#wrapper{
  max-width:80rem;
  margin:0 auto;
}

#header{
  text-align: center;
  padding-top:2rem;
  padding-bottom: 6rem;
}

#header h1{
  font-size:1.8rem;
  color:blue;
  font-weight: 200;
  margin-bottom: 1.5rem;
  line-height: 2.3rem;
}
#header h1 strong{
  color:blue;
  font-weight: 200;
}

#main .thumbnails {
  display: inline-flex;
}
#main .thumbnails>div{
 
  margin-right:1rem;
  margin-left:1rem;
}
#main .thumbnails a{
  margin-bottom: 1.5rem;
  display: block;
}
#main .thumbnails img {
  width:100%;
  max-width:35rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  display: block;
}


#main .thumbnails h3{
  border-left:1px solid rgba(255,255,255,0.3);
  border-right:1px solid rgba(255,255,255,0.3);
  border-bottom:1px solid rgba(255,255,255,0.3);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding:1rem;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  color:blue;
  font-size:0.8rem;
  font-weight: 200;
}
